:root {
    --white-base : #F2F5EA;
    --black-base : #2C363F;
    --biru : #36558F;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color:var(--black-base);
    font-family: 'Quicksand', sans-serif;
    color: var(--white-base);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

nav {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    display: flex;
}

.img-logo {
    height: 30px;
    width: auto;
    margin: 10px;
}

.nav-link {
    color: var(--black-base);
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
    padding: 1px;
}

.nav-link:hover {
    background-size: 100% 100%;
    background-position-x: left;
    color: var(--biru);
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.divider {
    background-color: transparent;
    outline: none;
    border: none;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.greeting {
    text-align: center;
    color: var(--white-base);
    padding: 100px 20px 140px 20px;
    letter-spacing: 2px;
}

.h1-ft {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 80px;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 1200ms;
}

.h1-ft:hover {
    cursor: pointer;
    background-size: 100% 100%;
    background-position-x: left;
}

.h1-univ {
    font-size: 40px;
}

.welcome {
    background-image: url('https://samuelmiskan9.github.io/PictureUts/bc3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--black-base);
    padding: 20px;
    height: 100vh;
}

footer {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    margin: -10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    nav {
        background-color: var(--white-base);
        color: var(--black-base);
        padding: 20px;
        display: block;
    }

    .nav-list {
        display: flex;
        gap: 10px;
        list-style-type: none;
        margin-left: -35px;
    }

    .greeting {
        text-align: center;
        color: var(--white-base);
        padding: 10px;
        letter-spacing: 2px;
    }

    .h1-ft {
        font-size: 25px;
        width: 80%;
    }
    .h1-univ {
        font-size: 20px;
        margin: 10px;
    }

}