:root {
    --white-base : #F2F5EA;
    --black-base : #2C363F;
    --biru : #36558F;
    --primary-shadow : 0px 10px 15px 10px rgb(0 0 0 / 15%);
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color:var(--black-base);
    font-family: 'Quicksand', sans-serif;
    color: var(--white-base);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

nav {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    display: flex;
    box-shadow: var(--primary-shadow);
}

.img-logo {
    height: 60px;
    width: auto;
}

.nav-link {
    color: var(--black-base);
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
    padding: 1px;
}

.nav-link:hover {
    background-size: 100% 100%;
    background-position-x: left;
    color: var(--biru);
}

.nav-list {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

.divider {
    background-color: transparent;
    outline: none;
    border: none;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.greeting {
    text-align: center;
    color: var(--white-base);
    padding: 100px 20px 140px 20px;
    letter-spacing: 2px;
}

.h1-ft {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 5px;
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 80px;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 1200ms;
    box-shadow: var(--primary-shadow);
}

.h1-ft:hover {
    cursor: pointer;
    background-size: 100% 100%;
    background-position-x: left;
}

.h1-univ {
    font-size: 40px;
}

.welcome {
    background-color: var(--biru);
    color: var(--black-base);
    padding: 70px 20px 20px 20px;
    height: 90vh;
    display: flex;
    justify-content: center;
    gap: 0;
}

.tag {
    display: flex;
    justify-content: center;
    gap: -1;
}

.tag-content {
    background-color: var(--biru);
    padding: 5px;
    font-size: 10px;
    color: var(--white-base);
    width: 90px;
    text-align: center;
    box-shadow: var(--primary-shadow);
}

.left-side {
    background-color: var(--black-base);
    color: var(--white-base);
    padding: 20px;
    margin: 20px 0px 20px 20px auto;
    letter-spacing: 2px;
    width: 300px;
    height: 500px;
    box-shadow: var(--primary-shadow);
    outline: 2px solid var(--black-base);
}

.left-side:hover {
    background-color: var(--white-base);
    color: var(--black-base);
    outline: 2px solid var(--black-base);
    transition: 0.4s;
}

.right-side {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    letter-spacing: 2px;
    margin: 0px 20px 20px 0px auto;
    width: 700px;
    height: 500px;
    box-shadow: var(--primary-shadow);
    outline: 2px solid var(--black-base);
}

.right-side:hover {
    background-color: var(--black-base);
    color: var(--white-base);
    outline: 2px solid var(--black-base);
    transition: 0.4s;
}

.yt-frame {
    border: 2px solid black;
    width:690px; 
    height:415px;
}

#visimisi {
    background-image: url('https://arifian853.github.io/Teknik-Informatika-Promotion-UTS/assets/bgvisimisi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.filter {
    background-color: rgb(0 0 0 / 55%);
    height: 100vh;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.visimisi-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: left;
}

.visi {
    background-color: var(--biru);
    color: var(--white-base);
    padding: 20px;
    margin: 20px 0px 20px 20px auto;
    letter-spacing: 2px;
    width: 300px;
    height: 500px;
    box-shadow: var(--primary-shadow);
    text-align: center;
}

.misi {
    background-color: var(--biru);
    color: var(--white-base);
    padding: 20px;
    letter-spacing: 2px;
    margin: 0px 20px 20px 0px auto;
    width: 700px;
    height: 500px;
    box-shadow: var(--primary-shadow);
}

.major {
    background-color: var(--biru);
    padding: 50px;
    color: var(--white-base);
    letter-spacing: 2px;
    text-align: center;
}

.major-container {
    display: flex;
    justify-content: center;
    gap: 10;
    margin-bottom: 80px;
}

.major-visi {
    height: 140px;
}

.major-list {
    padding: 20px;
    margin: 0 auto;
    background-color: var(--white-base);
    color: var(--black-base);
    box-shadow: var(--primary-shadow);
    width: 300px;
    z-index: 1;
    margin-top: 50px;
    border: 2px solid var(--black-base);
    border-radius: 10px;
}

.img-major {
    border-radius: 50%;
    border: 2px solid var(--black-base);
    margin: -70px 10px -10px 10px;
    width: 60px;
    height: auto;
    padding: 20px;
    z-index: 99;
    background-color: var(--white-base);
}

.major-list:hover {
    transform: translateY(-15px);
    transition: 0.4s;
    background-color: var(--black-base);
    cursor: pointer;
    color: var(--white-base);
    border: 2px solid var(--white-base);
}

.major-list:hover .img-major {
    transform: translateY(-15px);
    transition: 0.4s;
}

.major-button {
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color: var(--black-base);
    color: var(--white-base);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
}

.major-list:hover .major-button {
    background-color: var(--white-base);
    color: var(--black-base);
    cursor: pointer;
    background-size: 100% 100%;
    background-position-x: left;
}

.major-goals {
    padding: 20px;
    margin: 0 auto;
    background-color: var(--white-base);
    color: var(--black-base);
    box-shadow: var(--primary-shadow);
    width: 700px;
    z-index: 1;
    margin-top: 50px;
    border: 2px solid var(--black-base);
    border-radius: 10px;
    text-align: left;
}

#accreditation {
    background-image: url('https://arifian853.github.io/Teknik-Informatika-Promotion-UTS/assets/bg-akreditasi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.filter-acc {
    background-color: rgb(0 0 0 / 55%);
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.accreditation-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    gap : 20;
}

.accreditation-list {
    padding: 20px;
    margin: 0 auto;
    background-color: var(--biru);
    color: var(--white-base);
    box-shadow: var(--primary-shadow);
    width: 300px;
    z-index: 1;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid var(--white-base);
    letter-spacing: 2px;
}

.accreditation-list:hover {
    background-color: var(--white-base);
    color: var(--black-base);
    border: 2px solid var(--biru);
    transition: 0.4s;
    cursor: pointer;
}

.acc-value {
    font-size: 40px;
    background-color: var(--white-base);
    color: var(--biru);
    padding: 10px;
    height: auto;
    box-shadow: var(--primary-shadow);
}

.accreditation-list:hover .acc-value {
    background-color: var(--biru);
    color: var(--white-base);
    transition: 0.4s;
}

.kompetensi {
    background-color: var(--biru);
    padding: 20px;
    color: var(--white-base);
    letter-spacing: 2px;
    text-align: center;
}

.kompetensi-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.kompetensi-list {
    padding: 15px;
    border: 2px solid var(--black-base);
    background-color: var(--white-base);
    color: var(--black-base);
    width: 340px;
    text-align:left;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: var(--primary-shadow);
}

.kompetensi-list:hover {
    border: 2px solid var(--white-base);
    background-color: var(--black-base);
    color: var(--white-base);
    transition: 0.4s;
    cursor: pointer;
}

.kompetensi-list h2 {
    text-align: center;
}

#organization {
    background-image: url('https://arifian853.github.io/Teknik-Informatika-Promotion-UTS/assets/bg-organization.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.filter-organisasi {
    background-color: rgb(0 0 0 / 55%);
    height: 100vh;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.organisasi-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.organisasi-list {
    background-color: var(--white-base);
    color: var(--black-base);
    border: 2px solid var(--biru);
    padding: 30px;
    text-align: center;
    width: 400px;
    border-radius: 10px;
}

.org-img {
    height: 150px;
    width: auto;
}

.org-link {
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--black-base);
    color: var(--white-base);
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
    box-shadow: var(--primary-shadow);
}

.org-link:hover {
    background-size: 100% 100%;
    background-position-x: left;
    background-color: var(--white-base);
    color: var(--black-base);
}


#dosen-list {
    background-color: var(--biru);
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.lecturer {
    background-color: var(--biru);
    padding: 20px;
    color: var(--white-base);
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.tabel-dosen {
    background-color: var(--white-base);
    color: var(--black-base);
    margin: 0 auto;
    width: 500px;
    border: 2px solid var(--black-base);
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: var(--primary-shadow);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    background-color: rgb(192, 189, 189);
    text-align: left;
    border-bottom: 1px solid var(--black-base);
    border-right: 1px solid var(--black-base);
    padding: 10px;
}

tr, td {
    text-align: left;
    border-bottom: 1px solid var(--black-base);
    border-right: 1px solid var(--black-base);
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(192, 189, 189);
}

.nama-dosen {
    text-decoration: none;
    color: var(--biru);
    padding: 2px;
}

.nama-dosen:hover {
    background-color: var(--black-base);
    color: var(--white-base);
    cursor: pointer;
}

#invitation {
    background-image: url('https://arifian853.github.io/Teknik-Informatika-Promotion-UTS/assets/bg-invitation.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
}

.filter-invitation {
    background-color: rgb(0 0 0 / 55%);
    height: 110vh;
    padding: 20px;
    text-align: center;
}

.invitation-container {
    padding: 20px;
    letter-spacing: 2px;
}

.form {
    background-color: var(--biru);
    color: var(--white-base);
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    border-radius: 10px;
    border: 2px solid var(--white-base);
    text-align: left;
}

input {
    padding: 12px;
    width: 470px;
    background-color: var(--white-base);
    color: var(--black-base);
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.btn-form {
    padding: 12px;
    background-color: var(--white-base);
    color: var(--black-base);
    border: none;
    outline: none;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
}

.btn-form:hover {
    cursor: pointer;
    background-size: 100% 100%;
    background-position-x: left;
    outline: 2px solid var(--black-base);
}

.thanks-page {
    background-color: var(--biru);
    padding: 60px;
    display: block;
    letter-spacing: 2px;
    color: var(--white-base);
    text-align: center;
}

.link-container {
    margin: 10px auto;
}

.thanks-link {
    padding: 10px;
    color: var(--black-base);
    background-color: var(--white-base);
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    box-shadow: var(--primary-shadow);
}

.thanks-link:hover {
    background-color: var(--black-base);
    color: var(--white-base);
    transition: 0.4s;
}


footer {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    text-align: center;
}

#scroll-top-btn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:  var(--black-base); 
    color: var(--white-base); 
    cursor: pointer; 
    padding: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%; 
    font-size: 15px; 
    scroll-behavior: smooth;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.76);
}
  
#scroll-top-btn:hover {
    background-color:  var(--biru);
    color: var(--white-base);
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    nav {
        background-color: var(--white-base);
        color: var(--black-base);
        padding: 20px;
        display: block;
    }

    .nav-list {
        display: flex;
        gap: 10px;
        list-style-type: none;
        margin-left: -35px;
    }

    .greeting {
        text-align: center;
        color: var(--white-base);
        padding: 10px;
        letter-spacing: 2px;
        height: 100vh;
    }

    .h1-ft {
        font-size: 25px;
        width: 80%;
    }
    .h1-univ {
        font-size: 20px;
        margin: 10px;
    }

    .welcome {
        background-color: var(--biru);
        color: var(--black-base);
        padding: 70px 20px 20px 20px;
        display: block;
        height: 200vh;
    }
    
    .left-side{
        background-color: var(--black-base);
        color: var(--white-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        margin: 0 auto;
    }
    
    .right-side{
        background-color: var(--white-base);
        color: var(--black-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        margin: 0 auto;
    }

    .yt-frame {
        border: 2px solid black;
        width: 290px; 
        height: 155px;
    }

    .filter {
        background-color: rgb(0 0 0 / 55%);
        height: 190vh;
        text-align: center;
        padding: 20px;
    }
    
    .visimisi-container {
        display: block;
        text-align: left;
        padding: 0px;
    }

    .visi {
        background-color: var(--biru);
        color: var(--white-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .misi {
        background-color: var(--biru);
        color: var(--white-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        height: 650px;
        margin: 0 auto;
    }

    .major {
        background-color: var(--biru);
        padding: 20px;
        color: var(--white-base);
        letter-spacing: 2px;
        text-align: center;
    }
    
    .major-container {
        display: block;
    }
    
    .major-visi {
        height: 140px;
    }
    
    .major-list {
        padding: 20px;
        margin: 80px auto;
        background-color: var(--white-base);
        color: var(--black-base);
        box-shadow: var(--primary-shadow);
        width: 300px;
        z-index: 1;
        margin-top: 50px;
        border: 2px solid var(--black-base);
        border-radius: 10px;
    }
    
    .img-major {
        border-radius: 50%;
        border: 2px solid var(--black-base);
        margin: -70px 10px -10px 10px;
        width: 60px;
        height: auto;
        padding: 20px;
        z-index: 99;
        background-color: var(--white-base);
    }

    .major-goals {
        width: 300px;
    }

    .accreditation-container {
        display: block;
        padding: 1px;
    }

    .accreditation-list {
        padding: 20px;
        margin: 0 auto;
        background-color: var(--biru);
        color: var(--white-base);
        box-shadow: var(--primary-shadow);
        width: 300px;
        z-index: 1;
        margin-top: 50px;
        border-radius: 10px;
        border: 2px solid var(--white-base);
    }

    .filter-acc {
        background-color: rgb(0 0 0 / 55%);
        height: 90vh;
        padding: 20px;
        text-align: center;
    }

    .lecturer {
        background-color: var(--biru);
        padding: 20px;
        color: var(--white-base);
        display: block;
        text-align: center;
    }

    .tabel-dosen {
        background-color: var(--white-base);
        color: var(--black-base);
        margin: 10px auto;
        width: 300px;
        border: 2px solid var(--black-base);
        overflow-x: auto;
    }

    .filter-invitation {
        background-color: rgb(0 0 0 / 55%);
        height: 150vh;
        padding: 20px;
        text-align: center;
    }
    
    .invitation-container {
        padding: 1px;
        letter-spacing: 2px;
    }
    
    .form {
        background-color: var(--biru);
        color: var(--white-base);
        padding: 15px;
        margin: 0 auto;
        width: 300px;
        border-radius: 10px;
        border: 2px solid var(--white-base);
        text-align: left;
    }

    input {
        width: 275px;
    }

    .link-container {
        margin: 10px auto;
    }

    .thanks-page {
        padding: 20px;
    }

    .thanks-link {
        padding: 10px;
        color: var(--black-base);
        background-color: var(--white-base);
        border-radius: 10px;
        width: 300px;
        margin: 20px auto;
        box-shadow: var(--primary-shadow);
    }

    .kompetensi-container {
        display: block;
    }
    
    .kompetensi-list {
        padding: 15px;
        width: 300px;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .kompetensi-list h2 {
        text-align: center;
    }

    .organisasi-container {
        padding: 20px;
        display: block;
    }
    
    .organisasi-list {
        background-color: var(--white-base);
        color: var(--black-base);
        border: 2px solid var(--biru);
        padding: 10px;
        text-align: center;
        width: 300px;
        border-radius: 10px;
        margin: 20px auto;
    }
    
    .org-img {
        height: 120px;
        width: auto;
    }
    
    .filter-organisasi {
        background-color: rgb(0 0 0 / 55%);
        height: 200vh;
        padding: 10px;
        text-align: center;
    }
    
}