:root {
    --white-base : #F2F5EA;
    --black-base : #2C363F;
    --biru : #36558F;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing:border-box;
}

body {
    background-color:var(--black-base);
    font-family: 'Quicksand', sans-serif;
    color: var(--white-base);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

nav {
    background-color: var(--white-base);
    color: var(--black-base);
    margin: -5px;
    padding: 20px;
    display: flex;
}

.nav-brand {
    margin: 10px 20px 10px 10px;
    color: var(--black-base);
    font-weight: 1000;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
    padding: 1px;
}

.nav-brand:hover {
    background-size: 100% 100%;
    background-position-x: left;
    color: var(--biru);
}

.img-logo {
    height: 40px;
    width: auto;
}

.nav-link-container {
    display: flex;
}

.nav-link {
    margin: 10px 10px 10px 20px;
    color: var(--black-base);
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
    padding: 1px;
}

.nav-link:hover {
    background-size: 100% 100%;
    background-position-x: left;
    color: var(--biru);
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.greeting {
    margin:-15px;
    text-align: center;
    color: var(--white-base);
    padding: 20px;
    letter-spacing: 2px;
    height: 100vh;
}

.h1-ft {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 80px;
}

.h1-ft:hover {
    outline: 3px solid var(--black-base);
    cursor: pointer;
    transition :0.2s;
}

.h1-univ {
    font-size: 40px;
}



.welcome {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;

}


footer {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    margin: -10px;
    text-align: center;
}
