:root {
    --white-base : #F2F5EA;
    --black-base : #2C363F;
    --biru : #36558F;
    --primary-shadow : 0px 10px 15px 10px rgb(0 0 0 / 15%);
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color:var(--black-base);
    font-family: 'Quicksand', sans-serif;
    color: var(--white-base);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

nav {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    display: flex;
    box-shadow: var(--primary-shadow);
}

.img-logo {
    height: 30px;
    width: auto;
    margin: 10px;
}

.nav-link {
    color: var(--black-base);
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
    padding: 1px;
}

.nav-link:hover {
    background-size: 100% 100%;
    background-position-x: left;
    color: var(--biru);
}

.nav-list {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

.divider {
    background-color: transparent;
    outline: none;
    border: none;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.greeting {
    text-align: center;
    color: var(--white-base);
    padding: 100px 20px 140px 20px;
    letter-spacing: 2px;
}

.h1-ft {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 80px;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 1200ms;
    box-shadow: var(--primary-shadow);
}

.h1-ft:hover {
    cursor: pointer;
    background-size: 100% 100%;
    background-position-x: left;
}

.h1-univ {
    font-size: 40px;
}

.welcome {
    background-color: var(--biru);
    color: var(--black-base);
    padding: 70px 20px 20px 20px;
    height: 90vh;
    display: flex;
    justify-content: center;
    gap: 0;
}

.left-side {
    background-color: var(--black-base);
    color: var(--white-base);
    padding: 20px;
    margin: 20px 0px 20px 20px auto;
    letter-spacing: 2px;
    width: 300px;
    height: 500px;
    box-shadow: var(--primary-shadow);
    outline: 2px solid var(--black-base);
}

.left-side:hover {
    background-color: var(--white-base);
    color: var(--black-base);
    outline: 2px solid var(--black-base);
    transition: 0.4s;
}

.right-side {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    letter-spacing: 2px;
    margin: 0px 20px 20px 0px auto;
    width: 700px;
    height: 500px;
    box-shadow: var(--primary-shadow);
    outline: 2px solid var(--black-base);
}

.right-side:hover {
    background-color: var(--black-base);
    color: var(--white-base);
    outline: 2px solid var(--black-base);
    transition: 0.4s;
}

.yt-frame {
    border: 2px solid black;
    width:690px; 
    height:415px;
}

#visimisi {
    background-image: url('assets/bgvisimisi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.filter {
    background-color: rgb(0 0 0 / 55%);
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.visimisi-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: left;
}

.visi {
    background-color: var(--biru);
    color: var(--white-base);
    padding: 20px;
    margin: 20px 0px 20px 20px auto;
    letter-spacing: 2px;
    width: 300px;
    height: 500px;
    box-shadow: var(--primary-shadow);
}

.misi {
    background-color: var(--biru);
    color: var(--white-base);
    padding: 20px;
    letter-spacing: 2px;
    margin: 0px 20px 20px 0px auto;
    width: 700px;
    height: 500px;
    box-shadow: var(--primary-shadow);
}

.major {
    background-color: var(--biru);
    padding: 50px;
    color: var(--white-base);
    letter-spacing: 2px;
    text-align: center;
}

.major-container {
    display: flex;
    justify-content: center;
    gap: 40;
}

.major-visi {
    height: 140px;
}


.major-list {
    padding: 20px;
    margin: 0 auto;
    background-color: var(--white-base);
    color: var(--black-base);
    box-shadow: var(--primary-shadow);
    width: 300px;
    z-index: 1;
    margin-top: 50px;
    border: 2px solid var(--black-base);
    border-radius: 10px;
}

.img-major {
    border-radius: 50%;
    border: 2px solid var(--black-base);
    margin: -70px 10px -10px 10px;
    width: 60px;
    height: auto;
    padding: 20px;
    z-index: 99;
    background-color: var(--white-base);
}

.major-list:hover {
    transform: translateY(-15px);
    transition: 0.4s;
    background-color: var(--black-base);
    cursor: pointer;
    color: var(--white-base);
}

.major-list:hover .img-major {
    transform: translateY(-15px);
    transition: 0.4s;
}

.major-button {
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color: var(--black-base);
    color: var(--white-base);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #36558F 90%,
        #36558F 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 1200ms;
}

.major-list:hover .major-button {
    background-color: var(--white-base);
    color: var(--black-base);
    cursor: pointer;
    background-size: 100% 100%;
    background-position-x: left;
}

#accreditation {
    background-image: url('assets/bg-akreditasi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}




footer {
    background-color: var(--white-base);
    color: var(--black-base);
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    nav {
        background-color: var(--white-base);
        color: var(--black-base);
        padding: 20px;
        display: block;
    }

    .nav-list {
        display: flex;
        gap: 10px;
        list-style-type: none;
        margin-left: -35px;
    }

    .greeting {
        text-align: center;
        color: var(--white-base);
        padding: 10px;
        letter-spacing: 2px;
        height: 100vh;
    }

    .h1-ft {
        font-size: 25px;
        width: 80%;
    }
    .h1-univ {
        font-size: 20px;
        margin: 10px;
    }

    .welcome {
        background-color: var(--biru);
        color: var(--black-base);
        padding: 70px 20px 20px 20px;
        display: block;
        height: 200vh;
    }
    
    .left-side{
        background-color: var(--black-base);
        color: var(--white-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        margin: 0 auto;
    }
    
    .right-side{
        background-color: var(--white-base);
        color: var(--black-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        margin: 0 auto;
    }

    .yt-frame {
        border: 2px solid black;
        width: 290px; 
        height: 155px;
    }

    .filter {
        background-color: rgb(0 0 0 / 55%);
        height: 190vh;
        text-align: center;
        padding: 20px;
    }
    
    .visimisi-container {
        display: block;
        text-align: left;
        padding: 0px;
    }

    .visi {
        background-color: var(--biru);
        color: var(--white-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .misi {
        background-color: var(--biru);
        color: var(--white-base);
        padding: 20px;
        letter-spacing: 2px;
        width: 300px;
        height: 650px;
        margin: 0 auto;
    }

    .major {
        background-color: var(--biru);
        padding: 20px;
        color: var(--white-base);
        letter-spacing: 2px;
        text-align: center;
    }
    
    .major-container {
        display: block;
    }
    
    .major-visi {
        height: 140px;
    }
    
    .major-list {
        padding: 20px;
        margin: 80px auto;
        background-color: var(--white-base);
        color: var(--black-base);
        box-shadow: var(--primary-shadow);
        width: 300px;
        z-index: 1;
        margin-top: 50px;
        border: 2px solid var(--black-base);
        border-radius: 10px;
    }
    
    .img-major {
        border-radius: 50%;
        border: 2px solid var(--black-base);
        margin: -70px 10px -10px 10px;
        width: 60px;
        height: auto;
        padding: 20px;
        z-index: 99;
        background-color: var(--white-base);
    }
}